<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Guide</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<header>
    <a href="{{ url_for('main.home') }}" class="logo-link">
        <img src="https://static.vecteezy.com/system/resources/previews/013/547/909/non_2x/smartwatch-logo-design-watch-combine-with-bulb-logo-design-modern-concept-vector.jpg"
             alt="Wellness Tracker Logo" class="logo">
    </a>
    <h1>Wellness Tracker</h1>
    <div class="nav-buttons">
        <a href="{{ url_for('main.home') }}"><button><i class="fas fa-house"></i> Home Page</button></a>
        <a href="{{ url_for('main.login') }}"><button><i class="fas fa-circle-user"></i> Login</button></a>
        <a href="{{ url_for('main.faqs') }}"><button><i class="fas fa-question-circle"></i> FAQ's</button></a>
        <a href="{{ url_for('main.history') }}"><button><i class="fas fa-history"></i> History</button></a>
    </div>
</header>

    <div class="video-container">
<iframe width="560" height="315" 
src="https://www.youtube.com/embed/i6s6s_Kz_Rw?si=svE4BXGJwWmNWBG_" 
title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
</iframe>    
</div>

<h2 class="gallery-heading">Image Gallery</h2>
<div class="gallery">
    <img src="https://i.imgur.com/gG1I2cH.png" alt="Image 1">
    <img src="https://i.imgur.com/hQZCEpn.png" alt="Image 2">
    <img src="https://i.imgur.com/8B1E20H.png" alt="Image 3">
    <img src="https://i.imgur.com/1WP1tJP.png" alt="Image 4">
    <img src="https://i.imgur.com/osn9RjN.png" alt="Image 5">
    <img src="https://i.imgur.com/CgNwlS8.png" alt="Image 6">
    <img src="https://i.imgur.com/L3yKXKc.png" alt="Image 7">
    <img src="https://i.imgur.com/q8DcrjI.png" alt="Image 8">
    <img src="https://i.imgur.com/dhtJt2z.png" alt="Image 9">
    <img src="https://i.imgur.com/V4O53mL.png" alt="Image 10">
    <img src="https://i.imgur.com/fGQZUqQ.png" alt="Image 11">
    
</div>


</body>
</html>
